{% extends 'base.html.twig' %}

{% block title %}
    {{ parent }} | Home
{% endblock %}

{% block body %}
    <h1>Main</h1>
    <p>This is the main page.</p>
    <p>Total net worth: ${{ total|number_format(2, '.', ',') }}</p>
{% endblock %}
